<h1>Admin Dashboard!</h1>
<tr>
<th>
<h4>Product Count:</h4>
</th>
<tbody>
<%= @products_count %>
<%= link_to 'Admin > All Products',  [:admin, :products] %>
<th>
<h4>Category Count:</h4>
</th>
<%= @category_count %>
<%= link_to 'Admin > All Categories', [:admin, :categories] %>
</tbody>
</tr>